# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/

# Environment
.env

# Airflow
airflow_logs/

# dbt
dbt_project/logs/
dbt_project/target/
dbt_project/dbt_packages/

# Streamlit
.streamlit/secrets.toml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
logs/
*.log